.main{
    text-align: center;
}
.sub{
    text-align: center;
    padding:20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.cards{
    display:flex;
    justify-content: center;
    /* flex-direction: column; */
    gap:20px;
    margin-top:30px;
    flex-wrap:wrap;

    
}
.card{
    /* display:flex;
    justify-content: center; */
    border-radius: 20px;
    box-shadow:0 4px 8px rgba(0,0,0,0.03);
    width:200px;
    height:200px;
    text-align: center;

}
button{
    background-color:lightsteelblue;
    /* width:70px; */
    
}